<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{signup.message}">Regístrate</h2>
		<form class="form-horizontal" method="post" action="/signup" th:object="${user}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="email" th:attr="placeholder = #{placeholder.email}" required="required" />
					<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name" th:text="#{signup.message.name}">Nombre:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" th:attr="placeholder = #{placeholder.name}" required="required" />
					<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="lastName" th:text="#{signup.message.surname}">Apellidos:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="lastName" th:attr="placeholder = #{placeholder.surname}" required="required" />
					<span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="password">Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="password" th:attr="placeholder = #{placeholder.password}" required="required"/>
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="passwordConfirm" th:text="#{signup.message.passwordConfirm}">Repita el Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="passwordConfirm" th:attr="placeholder = #{placeholder.confirmPassword}" required="required" />
					<span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" th:text="#{signup.message.send}">Enviar</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>